*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body{
  background-color: #eeeeee;
  color: #555;

}

h1,h2,h3,h4,span,textarea,a{
  margin: 3px;
  padding: 3px;
}

fieldset{
  border: 1px solid #999999; 
  border-radius: 3px;
  margin: 5px;
}

legend{
  font-style:bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 5px;
}

table,th,td,tr{
  border-collapse: collapse;
  border: 1px solid #999999; 
  margin-top: 10px;
  padding: 2px;
  margin: 1px;
  text-align: center;
}
th{
  background-color: #999999;
  border: 1px solid black;
  color: #fff;
}

label{
  margin: 3px;
  padding: 3px;
}

input{
  margin: 3px;
  height: 20px;
  text-align: center;
  border: none;
  border: 1px solid #4444;
  background-color: #ffff;
  color: #555;
}

button{
  width: 200px;
  margin: 3px;
  height: 20px;
  text-align: center;
  border: none;
  border: 1px solid #4444;
  background-color: #555;
  color: #fff;
}

footer>p{
  font-size:11px;
  text-align: center;
}
/*
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}*/